//@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500&family=Montserrat:wght@700&display=swap');

$body-family: 'Fira Sans', serif;
$header-family: 'Montserrat', sans-serif;

//https://type-scale.com/
$size-xxs: 0.64rem;
$size-xs: 0.8rem;
$size-s: 1rem;
$size-base: 1.25rem;
$size-l: 1.563rem;
$size-xl: 1.953rem;
$size-xxl: 1.953rem;
$size-xxl: 2.441rem;
